<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.unisiegen.informatik.bs.alvis.views.navigator"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.unisiegen.informatik.bs.alvis.ui.navigator.views.Navigator"
            icon="icons/view/navigator.png"
            id="de.unisiegen.informatik.bs.alvis.ui.navigator.view.navigator"
            name="%navigator.view.navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="de.unisiegen.informatik.bs.alvis.navigator.commands.showNewAlvisProjectWizard"
               hoverIcon="icons/navigator/alvis_project.png"
               icon="icons/navigator/alvis_project.png"
               label="%navigator.menu.newAlvisProject"
               style="push"
               tooltip="%navigator.menu.newAlvisProjectTooltip">
         </command>
         <command
               commandId="de.unisiegen.informatik.bs.alvis.navigator.commands.showNewAlgorithmWizard"
               hoverIcon="icons/navigator/ext_algo.png"
               icon="icons/navigator/ext_algo.png"
               label="%navigator.menu.newAlgorithm"
               style="push"
               tooltip="%menu.newAlgorithmTooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.ui.navigator.commands.ShowNewAlvisProjectWizard"
            id="de.unisiegen.informatik.bs.alvis.navigator.commands.showNewAlvisProjectWizard"
            name="%navigator.commands.newAlvisProject">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.ui.navigator.commands.ShowNewAlgorithmWizard"
            id="de.unisiegen.informatik.bs.alvis.navigator.commands.showNewAlgorithmWizard"
            name="%navigator.commands.newAlgorithm">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.ui.navigator.commands.OpenViewNavigator"
            id="de.unisiegen.informatik.bs.alvis.navigator.commands.openNavigator"
            name="%navigator.commands.openNavigator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="de.unisiegen.informatik.bs.alvis.ui.navigator.view.navigatorr">
      </viewer>
      <viewerContentBinding
            viewerId="de.unisiegen.informatik.bs.alvis.ui.navigator.view.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="de.unisiegen.informatik.bs.alvis.navigator.alvisContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="de.unisiegen.informatik.bs.alvis.ui.navigator.view.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.ui.model.WorkbenchContentProvider"
            icon="icons/navigator/alvis_project.png"
            id="de.unisiegen.informatik.bs.alvis.navigator.alvisContent"
            labelProvider="de.unisiegen.informatik.bs.alvis.ui.navigator.views.AlvisLabelProvider"
            name="%navigator.navigatorContent.alvis"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisiegen.informatik.bs.alvis.catogory.alvis"
            name="%navigator.newWizards.alvis">
      </category>
      <wizard
            canFinishEarly="false"
            category="de.unisiegen.informatik.bs.alvis.catogory.alvis"
            class="de.unisiegen.informatik.bs.alvis.ui.navigator.wizards.NewAlvisProjectWizard"
            finalPerspective="de.unisiegen.informatik.bs.alvis.perspective"
            hasPages="true"
            icon="icons/navigator/alvis_project.png"
            id="de.unisiegen.informatik.bs.alvis.navigator.wizards.newAlvisProjectWizard"
            name="%navigator.newWizards.newAlvisProject"
            preferredPerspectives="de.unisiegen.informatik.bs.alvis.perspective"
            project="true">
      </wizard>
      <wizard
            category="de.unisiegen.informatik.bs.alvis.catogory.alvis"
            class="de.unisiegen.informatik.bs.alvis.ui.navigator.wizards.NewAlgorithmWizard"
            finalPerspective="de.unisiegen.informatik.bs.alvis.perspective"
            icon="icons/navigator/ext_algo.png"
            id="de.unisiegen.informatik.bs.alvis.navigator.wizards.newAlgorithmWizard"
            name="%navigator.newWizards.newAlgorithm"
            preferredPerspectives="de.unisiegen.informatik.bs.alvis.perspective"
            project="false">
      </wizard>
   </extension>

</plugin>
