<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.unisiegen.informatik.bs.alvis.editors.xml.editors.XMLEditor"
            id="de.unisiegen.informatik.bs.alvis.editors.xml.editors.XMLEditor">
      </editor>
   </extension>

</plugin>
