<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="de.unisiegen.informatik.bs.alvis.sync.commands.showNewScenarioWizard"
               hoverIcon="icons/extensions/ext_sync.png"
               icon="icons/extensions/ext_sync.png"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.sync.newwizards.ShowNewScenarioWizard"
            id="de.unisiegen.informatik.bs.alvis.sync.commands.showNewScenarioWizard"
            name="%command.name.newscenario">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisiegen.informatik.bs.alvis.sync.editors.ScenarioEditor"
            default="true"
            extensions="sync"
            id="de.unisiegen.informatik.bs.alvis.sync.editor1"
            name="%editor.name">
      </editor>
      <editor
            class="de.unisiegen.informatik.bs.alvis.sync.editors.SemaphorEditor"
            default="false"
            id="de.unisiegen.informatik.bs.alvis.sync.editorSemaphore"
            name="%editor.semaphore">
      </editor>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.runvisualizer">
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensions.runpreferences">
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.export">
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensionpoints.datatypelist">
      <DatatypeList
            class="de.unisiegen.informatik.bs.alvis.sync.datatypes.DatatypeList">
      </DatatypeList>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisiegen.informatik.bs.alvis.sync.category1"
            name="%category.name">
      </category>
      <wizard
            category="de.unisiegen.informatik.bs.alvis.sync.category"
            class="de.unisiegen.informatik.bs.alvis.sync.newwizards.NewScenarioWizard"
            finalPerspective="de.unisiegen.informatik.bs.alvis.perspective"
            id="de.unisiegen.informatik.bs.alvis.sync.newScenario"
            name="%newWizards.newScenario"
            preferredPerspectives="de.unisiegen.informatik.bs.alvis.perspective"
            project="false">
      </wizard>
      <wizard
            category="de.unisiegen.informatik.bs.alvis.sync.category"
            class="de.unisiegen.informatik.bs.alvis.sync.newwizards.NewSemaphoreWizard"
            finalPerspective="de.unisiegen.informatik.bs.alvis.perspective"
            id="de.unisiegen.informatik.bs.alvis.sync.newScenario"
            name="%newWizard.newSemaphore"
            preferredPerspectives="de.unisiegen.informatik.bs.alvis.perspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensionpoints.fileextension">
      <FileExtension
            class="de.unisiegen.informatik.bs.alvis.sync.extension.FileExtension">
      </FileExtension>
   </extension>

</plugin>
