<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.unisiegen.informatik.bs.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Starter"
            class="de.unisiegen.informatik.bs.main.Perspective"
            id="de.unisiegen.informatik.bs.main.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Install">
                       <command commandId="org.eclipselabs.p2.rcpupdate.install" style="push"/>
        <command commandId="org.eclipselabs.p2.rcpupdate.update" style="push"/>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.unisiegen.informatik.bs.main.application"
            name="mainalvis">
         <property
               name="appName"
               value="mainalvis">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="alivs16.png,alivs32.png,alivs48.png,alivs64.png,alivs128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,243,440,10">
         </property>
      </product>
   </extension>

</plugin>
