<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="18">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.0.1.r361_v20100903-897HFa-FX0z-z-ntoaavz0JPX628"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.6.2.r362_v20110203-7b7mFL2FET3dhHalh1iNZtL"/>
<unit id="org.eclipse.platform.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.2.R36x_v20110125-7N7K7bF8zk1BAKMh0iz0t94miBLY"/>
<unit id="org.eclipse.platform.source.feature.group" version="3.6.2.r362_v20110210-9gF78Gs1FrIGnHDHWkEcopoN8AmxeZflGDGKQi"/>
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.pde.feature.group" version="3.6.2.r362_v20110203-7b7mFL2FET3dhHalh1iNZtL"/>
<unit id="org.eclipse.sdk.feature.group" version="3.6.2.r362_v20100929-7Q7m7HD5cWlFgdCBHllpZMd2M468sbnm2RJvUWIbiJnWC"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.2.r362_v20101104-9SAxFMKFkSAqi8axkv1ZjegmiBLY"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.2.r362_v20101104-9SAxFMKFkSAqi8axkv1ZjegmiBLY"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20110210-1200"/>
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.6.2.v20110128-0100-4517w3122123901211"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.6.2.v20110128-0100-7A7G38yE6F08CAO499J539958x42"/>
<unit id="org.eclipse.draw2d.source.feature.group" version="3.6.2.v20110128-0100-4517w3122123901211"/>
<unit id="org.eclipse.zest.feature.group" version="1.2.0.v20100519-2050-67818yE6F-AA7P4B8I52322"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.2.0.v20100519-2050-67918COKNHAKQZIHNTdWQTdUL7UM"/>
<unit id="org.eclipse.zest.source.feature.group" version="1.2.0.v20100519-2050-67818yE6F-AA7P4B8I52322"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_modeling.emf.cdo_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.egit_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.sourceediting_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_mylyn_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_rt.equinox_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_tools.objectteams_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_modeling.gmp.graphiti_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.jsf_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.webservices_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.uomo_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.jsdt_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_birt_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_modeling.emft.emf-facet_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.jgit_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_rt.equinox.p2_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_tools.gef_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.dali_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.bpel_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.actf_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.servertools_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_tools.cdt_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_webtools.libra_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_modeling.mdt.modisco_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_technology.jubula_de.feature.group" version="3.7.0.v20110723043401"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.9.0/indigo"/>
</location>
</locations>
</target>
