<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "de.unisiegen.informatik.bs.alvis.language.algorithmLanguage" 
       class = "org.xtext.example.mydsl1.myDsl.MyDslPackage"
       genModel = "org/xtext/example/mydsl1/MyDsl.genmodel" /> 
	
  </extension>





</plugin>
