<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.unisiegen.informatik.bs.alvis.graph.toolbar">
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.move"
                  icon="icons/graph/graph_move.png"
                  label="%command.move"
                  style="push"
                  tooltip="%command.move.tooltip">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addnode"
                  icon="icons/graph/graph_add.png"
                  label="%command.addnode"
                  style="push"
                  tooltip="%command.tooltip.addanode">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addconnection"
                  icon="icons/graph/graph_connection.png"
                  label="%command.label.addconnection"
                  style="push"
                  tooltip="%command.tooltip.addconnection">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.delete"
                  icon="icons/graph/graph_delete.png"
                  label="%command.label.delete"
                  style="push"
                  tooltip="%command.tooltip.delete">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.changelayout"
                  icon="icons/graph/graph_layout_circle.png"
                  label="%command.label.changelayout"
                  style="push"
                  tooltip="%command.tooltip.changelayout">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.fitToPage"
                  icon="icons/graph/graph_fitToPage.png"
                  label="%command.label.fitToPage"
                  style="push"
                  tooltip="%command.tooltip.fitToPage">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.zoomin"
                  icon="icons/graph/graph_zoom_in.png"
                  label="%command.label.zoomin"
                  style="push"
                  tooltip="%command.tooltip.zoomin">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.zoomout"
                  icon="icons/graph/graph_zoom_out.png"
                  label="%command.label.zoomout"
                  style="push"
                  tooltip="%command.tooltip.zoomout">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addtree"
                  icon="icons/graph/graph_layout_tree.png"
                  label="%command.label.addgraph"
                  style="push"
                  tooltip="%command.tooltip.addgraph">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.deleteall"
                  icon="icons/graph/graph_delete_all.png"
                  label="%command.name.deleteallteall"
                  style="push"
                  tooltip="%command.tooltip.deleteall">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.undo"
                  icon="icons/graph/graph_undo.png"
                  label="%command.label.undo"
                  style="push"
                  tooltip="%command.label.undo">
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.graph.commands.redo"
                  icon="icons/graph/graph_redo.png"
                  label="%command.label.redo"
                  style="push"
                  tooltip="%command.label.redo">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="de.unisiegen.informatik.bs.alvis.commands.showNewGraphWizard"
               hoverIcon="icons/extension/ext_graph.png"
               icon="icons/extension/ext_graph.png"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.addnode"
            name="%command.name.addnode">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.addconnection"
            name="%command.name.addnode2">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.delete"
            name="%command.name.delete">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.move"
            name="%command.name.move">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.zoomin"
            name="%command.name.zoomout2">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.zoomout"
            name="%command.name.zoomout">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.changelayout"
            name="%command.name.changelayout">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.addtree"
            name="%command.name.addtree">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.deleteall"
            name="%command.name.deleteall">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.graph.newwizards.showNewGraphWizard"
            id="de.unisiegen.informatik.bs.alvis.commands.showNewGraphWizard"
            name="%command.name">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.fitToPage"
            name="FitToPage">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.undo"
            name="%command.label.undo">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.graph.commands.redo"
            name="%command.label.redo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.AddNode"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addnode">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.NewConnection"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addconnection">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.Delete"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.delete">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.Move"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.move">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.ZoomIn"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.zoomin">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.ZoomOut"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.zoomout">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.ChangeLayout"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.changelayout">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.AddTree"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.addtree">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.DeleteAll"
            commandId="de.unisiegen.informatik.bs.alvis.graph.deleteall">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.FitToPage"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.fitToPage">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.Undo"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.undo">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.unisiegen.informatik.bs.alvis.graph.handlers.Redo"
            commandId="de.unisiegen.informatik.bs.alvis.graph.commands.redo">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.unisiegen.informatik.bs.alvis.graph.grapheditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisiegen.informatik.bs.alvis.graph.editors.GraphEditor"
            default="true"
            extensions="graph"
            icon="icons/extension/ext_graph.png"
            id="de.unisiegen.informatik.bs.alvis.graph.grapheditor"
            name="%editor.name">
      </editor>
      <editor
            class="de.unisiegen.informatik.bs.alvis.graph.editors.GraphEditorAdjacencyMatrix"
            default="false"
            extensions="graph"
            icon="icons/extension/ext_graph.png"
            id="de.unisiegen.informatik.bs.alvis.graph.grapheditormatrix"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.runvisualizer">
      <RunVisualizer
            class="de.unisiegen.informatik.bs.alvis.graph.run.RunVisualizer">
      </RunVisualizer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisiegen.informatik.bs.alvis.graph.category"
            name="%category.name">
      </category>
      <wizard
            category="de.unisiegen.informatik.bs.alvis.graph.category"
            class="de.unisiegen.informatik.bs.alvis.graph.newwizards.NewGraphWizard"
            finalPerspective="de.unisiegen.informatik.bs.alvis.perspective"
            icon="icons/extension/ext_graph.png"
            id="de.unisiegen.informatik.bs.alvis.wizard.graph"
            name="%newWizards.newGraph"
            preferredPerspectives="de.unisiegen.informatik.bs.alvis.perspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensions.runpreferences">
      <RunPreferences
            class="de.unisiegen.informatik.bs.alvis.graph.run.RunPreferences">
      </RunPreferences>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.export">
      <export
            class="de.unisiegen.informatik.bs.alvis.graph.editors.GraphEditor">
      </export>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensionpoints.datatypelist">
      <DatatypeList
            class="de.unisiegen.informatik.bs.alvis.graph.datatypes.DatatypeList">
      </DatatypeList>
   </extension>
   <extension
         point="de.unisiegen.informatik.bs.alvis.extensionpoints.fileextension">
      <FileExtension
            class="de.unisiegen.informatik.bs.alvis.graph.extension.FileExtension">
      </FileExtension>
   </extension>
</plugin>
