<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.unisiegen.informatik.bs.alvis.editors.extensions.graph" name="%Extension_Graph" schema="schema/de.unisiegen.informatik.bs.alvis.editors.extensions.graph.exsd"/>
   <extension-point id="de.unisiegen.informatik.bs.alvis.views.extensions.graph" name="Graph Run View" schema="schema/de.unisiegen.informatik.bs.alvis.views.extensions.graph.exsd"/>
   <extension-point id="de.unisiegen.informatik.bs.alvis.extensions.runpreferences" name="RunPreferences" schema="schema/de.unisiegen.informatik.bs.alvis.extensions.runpreferences.exsd"/>
   <extension-point id="de.unisiegen.informatik.bs.alvis.runvisualizer" name="RunVisualizer" schema="schema/de.unisiegen.informatik.bs.alvis.runvisualizer.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.unisiegen.informatik.bs.alvis.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.unisiegen.informatik.bs.alvis.perspectives.MainPerspective"
            icon="icons/perspectives/editor.png"
            id="de.unisiegen.informatik.bs.alvis.perspective"
            name="%perspective.default">
      </perspective>
      <perspective
            class="de.unisiegen.informatik.bs.alvis.perspectives.RunPerspective"
            icon="icons/perspectives/run.png"
            id="de.unisiegen.informatik.bs.alvis.perspective.run"
            name="%perspective.run">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.unisiegen.informatik.bs.alvis.views.RunAlgorithm"
            icon="icons/extension/ext_algo.png"
            id="de.unisiegen.informatik.bs.alvis.views.run.algorithm"
            name="%view.run.algorithm"
            restorable="true">
      </view>
      <view
            class="de.unisiegen.informatik.bs.alvis.views.RunGraph"
            icon="icons/extension/ext_graph.png"
            id="de.unisiegen.informatik.bs.alvis.views.run.graph"
            name="%view.run.graph"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.unisiegen.informatik.bs.alvis.application"
            name="%product.name">
         <property
               name="appName"
               value="%product.name">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="A project by Simon Meurer&#x0A;Version 1 by:&#x0A;Jan Bauerdick&#x0A;Colin Benner&#x0A;Eduard Boos&#x0A;Dominik Dingel&#x0A;Simon Groth&#x0A;Sebastian Schmitz&#x0A;Tobias Schueler&#x0A;Frank Weiler">
         </property>
         <property
               name="windowImages"
               value="alvis16.png,alvis32.png,alvis48.png,alvis64.png,alvis128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="15,220,400,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,243,450,10">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisiegen.informatik.bs.alvis.editors.AlgorithmEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="algo"
            icon="icons/extension/ext_algo.png"
            id="de.unisiegen.informatik.bs.alvis.editors.AlgorithmEditor"
            name="%editor.name">
      </editor>
      <editor
            class="de.unisiegen.informatik.bs.alvis.editors.RunEditor"
            extensions="run"
            icon="icons/extension/ext_run.png"
            id="de.unisiegen.informatik.bs.alvis.editors.runeditor"
            name="Run Editor">
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Install">
                       <command commandId="org.eclipselabs.p2.rcpupdate.install" style="push"/>
        <command commandId="org.eclipselabs.p2.rcpupdate.update" style="push"/>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="de.unisiegen.informatik.bs.alvis.commands.showNewRunWizard"
               icon="icons/extension/ext_run.png"
               label="Run File"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.file">
            <menu
                  label="%menu.file.new">
               <command
                     commandId="de.unisiegen.informatik.bs.alvis.commands.showNewRunWizard"
                     label="%newWizards.newRun"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="%file.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="%file.close.all"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  label="%file.revert"
                  style="push">
            </command>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%file.saveAs"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.openWorkspace"
                  label="%file.openworkspace"
                  style="push">
            </command>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator6">
            </separator>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator7">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="%file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="%file.export"
                  style="push">
            </command>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator3">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="%file.print"
                  style="push">
            </command>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator5">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.properties"
                  label="%file.properties"
                  style="push">
            </command>
            <separator
                  name="de.unisiegen.informatik.bs.alvis.separator4">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label">
            </command>
         </menu>
         <menu
               label="%menu.edit">
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="%edit.redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="%edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="%edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="%edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="%edit.paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.addTask"
                  label="%edit.addTask"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="%edit.findreplace"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.navigate">
            <command
                  commandId="org.eclipse.ui.navigate.previous"
                  label="%edit.previous"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.next"
                  label="%edit.next"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.forward"
                  label="%navigate.forward"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.back"
                  label="%navigate.backward"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.addToWorkingSet"
                  label="%navigate.addtoworkingset"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.project">
            <command
                  commandId="org.eclipse.ui.project.closeProject"
                  label="%project.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.properties"
                  label="%project.properties"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.run">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label">
            </command>
         </menu>
         <menu
               label="%menu.window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%window.showviews"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="%window.new"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.newEditor"
                  label="%window.neweditor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="%window.resetperspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  label="%window.closeperspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  label="%window.closeallperspectives"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.nextEditor"
                  label="%window.nexteditor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.nextPerspective"
                  label="%window.nextperspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.switchToEditor"
                  label="%window.switchtoeditor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="%window.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.help">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%help.about"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.installationDialog"
                  label="%help.install"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.update.findAndInstallUpdates"
                  label="%help.findandinstallupdates"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.tipsAndTricksAction"
                  label="%help.tipsandtricks"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.unisiegen.informatik.bs.alvis.compile.toolbar">
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.commands.run.compile"
                  icon="icons/toolbar/compile.png"
                  style="push"
                  tooltip="Compile">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.unisiegen.informatik.bs.alvis.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="de.unisiegen.informatik.bs.alvis.run.toolbar">
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.commands.runStart"
                  icon="icons/toolbar/run_play.png"
                  style="push"
                  tooltip="Start run">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.unisiegen.informatik.bs.alvis.perspective.run">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.commands.runBack"
                  icon="icons/toolbar/run_previous.png"
                  style="push"
                  tooltip="Previous breakpoint">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.unisiegen.informatik.bs.alvis.perspective.run">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.unisiegen.informatik.bs.alvis.commands.runNext"
                  icon="icons/toolbar/run_next.png"
                  style="push"
                  tooltip="BNext breakpoint">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.unisiegen.informatik.bs.alvis.perspective.run">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.commands.RunCompile"
            id="de.unisiegen.informatik.bs.alvis.commands.run.compile"
            name="Compile">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.commands.showNewRunWizard"
            id="de.unisiegen.informatik.bs.alvis.commands.showNewRunWizard"
            name="new Run">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.commands.RunStart"
            id="de.unisiegen.informatik.bs.alvis.commands.runStart"
            name="RunStart">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.commands.RunNext"
            id="de.unisiegen.informatik.bs.alvis.commands.runNext"
            name="RunNext">
      </command>
      <command
            defaultHandler="de.unisiegen.informatik.bs.alvis.commands.RunBack"
            id="de.unisiegen.informatik.bs.alvis.commands.runBack"
            name="RunBack">
      </command>
      <command
            id="de.unisiegen.informatik.bs.alvis.commands.SwitchToRunPerspective"
            name="SwitchToRunPerspective">
      </command>
   </extension>
   <extension
         id="de.unisiegen.informatik.bs.alvis.markers.AlgorithmErrorMarker"
         name="%de.unisiegen.inforamtik.bs.alvis.markers.AlgorithmErrorMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   

</plugin>
